* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    outline: none;
    border: none;
    
    font-size: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
	--brown-color-primary: #d8b979;
	--brown-color-dark: #8a733f;
	--blue-color: #799dd9;
}

.header {
	width: 100%;
	padding: 10px 20px;
	
	position: fixed;
    top: 0;
	
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: white;
    box-shadow: 0px 1px 10px #eae6e6;
    
    z-index: 2;
}

.header__search {
    width: 500px;
    display: flex;
}

.search__icon {
    width: 5%;
    background-color: #fbfbfb;
    border-radius: 20px 0px 0px 20px;
}

.search__text {
    flex-grow: 1;
    background-color: #fbfbfb;
    border-radius: 0 20px 20px 0;
    font-size: 1.3rem;
    padding: 5px 10px;
}

.header__btn {
	color: white;
	padding: 8px 30px;
    background-color: var(--brown-color-primary);
    border-radius: 2rem;
    font-size: 1.6rem;
}

/* Body */
.body {
    display: flex;
    justify-content: space-around;
    max-width: 1250px;
    min-height: 300px;
    margin: 70px auto;
    position: relative;
}

.body__menu {
    box-shadow: 0px 0px 2px rgb(141, 140, 140);
    padding: 0 20px;
    width: 25%;
    max-height: 255px;
	position: fixed;
	left: 30px;
}
.menu__heading {
    line-height: 35px;
    font-size: 1.8rem;
    color: var(--brown-color-primary);
}

.menu__heading::after {
    content: "";
    background-color: #f1f1f1;
    height: 1px;
    width: 115%;
    display: block;
    margin-left: -20px;
}

.list-categories__category {
    display: flex;
	list-style: none;
    line-height: 34px;
    border-bottom: 1px solid #f1f1f1;
    justify-content: space-between;
}

.list-categories__category a {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.category__name {
    flex-grow: 1;
}

.body__products {
    width: 45%;
    box-shadow: 0px 0px 2px rgb(141, 140, 140);
}

.products__heading {
    line-height: 35px;
    padding-left: 20px;
    color: var(--brown-color-primary);
    font-size: 1.8rem;
}

.products__list-products {
	background: #fbfbfb;
    display: flex;
    flex-wrap: wrap;
}

.list-products__product {
    padding: 10px;
    margin: 5px 0;
    width: 31%;
    margin-left: 10px;
}

.product__img {
    width: 100%;
    height: 154px;
}

.list-products__product > div {
    display: flex;
    margin-top: 20px;
}

.product__info {
	min-width: 128px;
	height: 60px;
}

.product__info p {
    font-weight: bold;
    font-size: 1.33rem;
}

.info__name {
    line-height: 15px;
    color: black;
}

.info__price {
	color: var(--brown-color-dark);
	line-height: 30px;
}

.product__btn {
    color: white;
    border-radius: 50%;
    height: 30px;
    padding: 5px 10px;
    font-size: 1.5rem;
    background-color: var(--blue-color);
    margin-top: auto;
}

.body__cart {
    width: 25%;
    box-shadow: 0px 0px 2px rgb(141, 140, 140);
    max-height: 500px;
    position: fixed;
    right: 30px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    line-height: 35px;
}

.header__heading {
	color: var(--brown-color-primary);
	font-size: 1.8rem;
}

.header__clean {
	font-size: 1.3rem;
	color: black;
}

.cart__items {
	min-height: 50px;	
	max-height: 334px;
	border-top: 1.5px solid #d8d7d7;
}

.items__status {
	line-height: 50px;
	font-size: 1.5rem;
	margin-left: 10px;
}

.items__item {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.item__info {
    line-height: 22px;
    max-width: 70%;
}

.item-info__name,
.item-info__size,
.item-info__price {
    font-size: 1.2rem;
    font-weight: bold;
}
.item-info__name {
    color: black;
    
}
.item-info__size {
    color: #b9baba;
    font-weight: normal;
    
}
.item-info__price {
    color: var(--brown-color-dark);
}

.item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    margin: auto 0;
}

.action__handle {
    color: white;
    background-color: var(--blue-color);;
    border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	padding-top: 2px;
	font-size: 1.5rem; 
	cursor: pointer;
}

.action__quantity {
	font-size: 1.5rem
}

.cart__pay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	height: 100px;
}

.pay__info {
	display: flex;
	align-items: center;
}

.info__img {
	width: 25px;
}

.info__cal {
	color: var(--brown-color-dark);
	font-size: 1.5rem;
	font-weight: bold;
}

.pay__btn {
	background: var(--brown-color-primary);
	color: white;
	font-size: 1.8rem;
	border-radius: 20px;
	text-align: center;
	line-height: 30px;
}


